@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@100;200;300;400;500;600;700&family=Inder&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}